<div class="small-container">
  <h1 class="employee-name"><%= @employee.name %></h1>
  <p class="employee-info">Email: <%= @employee.email %></p>
  <p class="employee-info">Cargo: <%= @employee.role %></p>
  <p class="employee-info">Salário: R$ <%= @employee.salary %></p>
  <div class="container">
    <%= link_to "Voltar", employees_path, class: "button button-top-margin" %>
    <%= link_to "Atualizar",edit_employee_path(@employee), class: "button button-top-margin" %>
    <%= link_to "Excluir",
                employee_path(@employee),
                class: "button button-top-margin",
                method: :delete,
                data: { confirm: "Tem certeza que deseja excluir o funcionário?" } %>
  </div>
</div>
